# .gitignore

# Temp file database

/ssSite/db.sqlite3

# Enviromental variables 

.env
.vscode/2024 Silicon Sky Consulting - Development.code-workspace

# Sensitive development data(including scripts)

/scripts/get_token.py
/scripts/test_token_auth.py

# Django static dirs

/static/

