# .gitignore

# Temp file database

/ssSite/db.sqlite3

# Enviromental variables 
https://github.com/brandenvs/siliconsky-veeam-integration/tree/6e36ac0b85de2bfe30d5d4b961b16cee6928ec2c/scripts
.env
.vscode/2024 Silicon Sky Consulting - Development.code-workspace

# Sensitive development data(including scripts)

/ssSite/scripts
